* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: #7dbc94;
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: end;
}

a {
    padding-left: 15px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(49, 99, 49);
}

.secure-storage {
    /*background-color: red;*/
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-family: "Berlin Sans FB";
}

.secure-storage-content{
    /*background-color: yellow;*/
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: "Berlin Sans FB";
}

.login-btn{
    background-color: rgb(25, 184, 139);
    height: 50px;
    width: 200px;
    border-radius: 25px;
    box-shadow: none;
    border: 0px;
    color: white;
}